CREATE DATABASE [PatientManagement]
GO
USE [PatientManagement]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 7/10/2020 10:21:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 7/10/2020 10:21:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[Id] [uniqueidentifier] NOT NULL,
	[FullName] [nvarchar](50) NULL,
	[UserName] [nvarchar](50) NULL,
	[Gender] [bit] NOT NULL,
	[Password] [nvarchar](250) NULL,
	[Role] [int] NOT NULL,
	[PatientId] [uniqueidentifier] NULL,
	[Phone] [nvarchar](15) NULL,
	[LinkAvatar] [nvarchar](250) NULL,
 CONSTRAINT [PK_dbo.Account] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AttachmentAssigns]    Script Date: 7/10/2020 10:21:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AttachmentAssigns](
	[Id] [uniqueidentifier] NOT NULL,
	[AttachmentId] [uniqueidentifier] NOT NULL,
	[DetailRecordId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_dbo.AttachmentAssigns] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Attachments]    Script Date: 7/10/2020 10:21:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Attachments](
	[Id] [uniqueidentifier] NOT NULL,
	[Type] [nvarchar](max) NULL,
	[Url] [nvarchar](max) NULL,
	[CreatedDate] [datetime] NOT NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[ModifiedDate] [datetime] NOT NULL,
	[ModifiedBy] [nvarchar](max) NULL,
	[Name] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Attachments] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 7/10/2020 10:21:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[Unit] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Category] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DetailPrescription]    Script Date: 7/10/2020 10:21:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetailPrescription](
	[Id] [uniqueidentifier] NOT NULL,
	[Amount] [int] NOT NULL,
	[Note] [nvarchar](max) NOT NULL,
	[MedicineId] [uniqueidentifier] NOT NULL,
	[Unit] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_dbo.DetailPrescription] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DetailRecord]    Script Date: 7/10/2020 10:21:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetailRecord](
	[DiseaseName] [nvarchar](200) NOT NULL,
	[Status] [bit] NOT NULL,
	[RecordId] [uniqueidentifier] NOT NULL,
	[Id] [uniqueidentifier] NOT NULL,
	[Note] [nvarchar](max) NULL,
	[Result] [nvarchar](max) NULL,
	[Process] [int] NOT NULL,
	[DoctorId] [uniqueidentifier] NOT NULL,
	[FacultyId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_dbo.DetailRecord] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Doctor]    Script Date: 7/10/2020 10:21:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Doctor](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Address] [nvarchar](max) NULL,
	[Gender] [bit] NOT NULL,
	[Phone] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[FacultyId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_dbo.Doctor] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Faculty]    Script Date: 7/10/2020 10:21:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Faculty](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_dbo.Faculty] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Item]    Script Date: 7/10/2020 10:21:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Item](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](250) NOT NULL,
	[Amount] [int] NOT NULL,
	[Description] [nvarchar](max) NULL,
	[CategoryId] [uniqueidentifier] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[ModifiedDate] [datetime] NOT NULL,
	[ModifiedBy] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Item] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MedicalSupplies]    Script Date: 7/10/2020 10:21:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MedicalSupplies](
	[Id] [uniqueidentifier] NOT NULL,
	[Amount] [int] NOT NULL,
	[PatientId] [uniqueidentifier] NOT NULL,
	[ItemId] [uniqueidentifier] NOT NULL,
	[DateOfHire] [datetime] NOT NULL,
	[Status] [int] NOT NULL,
 CONSTRAINT [PK_dbo.MedicalSupplies] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Medicine]    Script Date: 7/10/2020 10:21:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Medicine](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[Description] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Medicine] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Patient]    Script Date: 7/10/2020 10:21:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Patient](
	[Id] [uniqueidentifier] NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[DateOfBirth] [datetime2](7) NOT NULL,
	[Address] [nvarchar](250) NOT NULL,
	[Gender] [bit] NOT NULL,
	[IndentificationCardId] [varchar](12) NOT NULL,
	[Phone] [varchar](12) NOT NULL,
	[RecordId] [uniqueidentifier] NULL,
	[Status] [bit] NOT NULL,
	[ImageProfile] [nvarchar](max) NULL,
	[PatientCode] [nvarchar](max) NOT NULL,
	[JoinDate] [datetime2](7) NOT NULL,
	[IndentificationCardDate] [datetime] NOT NULL,
	[Job] [nvarchar](max) NULL,
	[WorkPlace] [nvarchar](max) NULL,
	[HistoryOfIllnessFamily] [nvarchar](max) NULL,
	[HistoryOfIllnessYourself] [nvarchar](max) NULL,
	[Email] [nvarchar](250) NOT NULL,
 CONSTRAINT [PK_dbo.Patient] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Prescription]    Script Date: 7/10/2020 10:21:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Prescription](
	[Id] [uniqueidentifier] NOT NULL,
	[DetailPrescriptionId] [uniqueidentifier] NOT NULL,
	[DetailRecordId] [uniqueidentifier] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[ModifiedDate] [datetime] NOT NULL,
	[ModifiedBy] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Prescription] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Record]    Script Date: 7/10/2020 10:21:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Record](
	[Id] [uniqueidentifier] NOT NULL,
	[Note] [nvarchar](max) NULL,
	[Result] [nvarchar](max) NULL,
	[CreatedDate] [datetime] NOT NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[ModifiedDate] [datetime] NOT NULL,
	[ModifiedBy] [nvarchar](max) NULL,
	[DoctorId] [uniqueidentifier] NULL,
	[StatusRecord] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Record] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[Account] ([Id], [FullName], [UserName], [Gender], [Password], [Role], [PatientId], [Phone], [LinkAvatar]) VALUES (N'c33165bd-36a1-41e2-89b7-3d98ea178683', N'Nguyễn Văn A', N'doctor', 0, N'7AHIx4e55p5UJeIcWrhrag==', 2, N'c62ec8bc-00b1-4659-a589-9db06d04287c', N'0973642632', NULL)
INSERT [dbo].[Account] ([Id], [FullName], [UserName], [Gender], [Password], [Role], [PatientId], [Phone], [LinkAvatar]) VALUES (N'c878f091-e0f3-4bee-90d0-5952e2f97333', N'Quản Trị', N'admin', 1, N'7AHIx4e55p5UJeIcWrhrag==', 1, NULL, N'0973 642 032', N'')
INSERT [dbo].[Account] ([Id], [FullName], [UserName], [Gender], [Password], [Role], [PatientId], [Phone], [LinkAvatar]) VALUES (N'5ecaf26d-6d06-49c3-a894-f80df4c38b18', N'Nguyễn Văn A', N'patient', 1, N'7AHIx4e55p5UJeIcWrhrag==', 3, N'c62ec8bc-00b1-4659-a589-9db06d04287c', N'0986102245', NULL)
INSERT [dbo].[AttachmentAssigns] ([Id], [AttachmentId], [DetailRecordId]) VALUES (N'4371a1a0-876c-44f5-b284-0e73941626fe', N'40e25240-0598-4bb3-9461-f71ee2fd38bc', N'dd07cbf8-7b4b-49eb-9698-493b19faec78')
INSERT [dbo].[AttachmentAssigns] ([Id], [AttachmentId], [DetailRecordId]) VALUES (N'7edcf5f1-8e32-4630-bb25-4200bad79985', N'f929d2cd-d37d-41da-91f1-b45c78a1b926', N'587366ac-0039-4106-8932-ef6defb922f4')
INSERT [dbo].[AttachmentAssigns] ([Id], [AttachmentId], [DetailRecordId]) VALUES (N'b33c456f-bb82-4f89-9b30-5001a902b5a6', N'4f555e88-dcbf-4e79-ac8c-b6956d7d0da8', N'd311ad65-465e-4f36-a8a9-e0aebc63da88')
INSERT [dbo].[Attachments] ([Id], [Type], [Url], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy], [Name]) VALUES (N'8f645548-4fa0-4d9f-b0be-67fc3ee46535', NULL, NULL, CAST(N'2020-05-18T21:27:46.107' AS DateTime), N'Quản Trị', CAST(N'2020-05-18T21:27:46.107' AS DateTime), N'Quản Trị', NULL)
INSERT [dbo].[Attachments] ([Id], [Type], [Url], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy], [Name]) VALUES (N'a0de9b8e-8a30-4348-bc91-8b6af2b24ab6', N'Ảnh', N'/FileUploads/images/chup-x-quang-khop-goi1-500x362.jpg', CAST(N'2020-05-17T11:41:01.063' AS DateTime), N'Quản Trị', CAST(N'2020-05-17T11:41:01.063' AS DateTime), N'Quản Trị', N'[BN-1] -  Ảnh chụp Khớp')
INSERT [dbo].[Attachments] ([Id], [Type], [Url], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy], [Name]) VALUES (N'f929d2cd-d37d-41da-91f1-b45c78a1b926', N'Ảnh XQuang', N'/FileUploads/images/chup-x-quang-khop-goi1-500x362.jpg', CAST(N'2020-06-23T08:45:42.577' AS DateTime), N'Quản Trị', CAST(N'2020-06-23T08:45:42.577' AS DateTime), N'Quản Trị', N'XQuang')
INSERT [dbo].[Category] ([Id], [Name], [Unit], [Description]) VALUES (N'1cfceeee-5af0-44e1-9b40-081e1aa299a9', N'Máy Xông Khí Dung', N'Chiếc', N'Máy Xông Khí Dung')
INSERT [dbo].[Category] ([Id], [Name], [Unit], [Description]) VALUES (N'4ceae1b4-011f-442c-91c3-37361e692c7a', N'Giường bệnh', N'Chiếc', N'This is giường bệnh')
INSERT [dbo].[Category] ([Id], [Name], [Unit], [Description]) VALUES (N'109cc517-2b44-4c8a-9bff-47eff7195cc8', N'Đai Nẹp Y Tế', N'Chiếc', N'Đai Nẹp Y Tế')
INSERT [dbo].[DetailPrescription] ([Id], [Amount], [Note], [MedicineId], [Unit]) VALUES (N'4cb2df75-5d19-477e-b137-2867125271d2', 11, N'- Ngày uống 2 lần mỗi lần 2 viên
- Uống sau bữa ăn', N'c8c44709-bca3-4b0a-b15f-04aac0fdc8ab', N'Viên')
INSERT [dbo].[DetailPrescription] ([Id], [Amount], [Note], [MedicineId], [Unit]) VALUES (N'9c9e32af-62b5-487f-ab3d-32fe79c95fd4', 20, N'- 10 viên/ ngày
- Uống sau bữa ăn', N'238d671f-110f-4258-b743-11166edc2fdc', N'Viên')
INSERT [dbo].[DetailRecord] ([DiseaseName], [Status], [RecordId], [Id], [Note], [Result], [Process], [DoctorId], [FacultyId]) VALUES (N'Khám mắt', 1, N'7cc07102-4845-4249-ada1-d144e8abe4f0', N'dd07cbf8-7b4b-49eb-9698-493b19faec78', N'12', N'12', 1, N'547c9347-7a67-4beb-b612-cb9d5b442830', N'd7dc91ca-d3ff-4a10-a7ae-3d34e3780c70')
INSERT [dbo].[DetailRecord] ([DiseaseName], [Status], [RecordId], [Id], [Note], [Result], [Process], [DoctorId], [FacultyId]) VALUES (N'Khám tai', 1, N'7cc07102-4845-4249-ada1-d144e8abe4f0', N'0d671301-d087-4ad2-adb2-a8de1e97e84b', N'1', N'1', 1, N'547c9347-7a67-4beb-b612-cb9d5b442830', N'd7dc91ca-d3ff-4a10-a7ae-3d34e3780c70')
INSERT [dbo].[DetailRecord] ([DiseaseName], [Status], [RecordId], [Id], [Note], [Result], [Process], [DoctorId], [FacultyId]) VALUES (N'Khám mắt', 1, N'edd91b3f-d640-4f91-a05a-eaf052d94438', N'd311ad65-465e-4f36-a8a9-e0aebc63da88', NULL, NULL, 1, N'547c9347-7a67-4beb-b612-cb9d5b442830', N'd7dc91ca-d3ff-4a10-a7ae-3d34e3780c70')
INSERT [dbo].[Doctor] ([Id], [Name], [Address], [Gender], [Phone], [Email], [FacultyId]) VALUES (N'547c9347-7a67-4beb-b612-cb9d5b442830', N'Đình Phúc', N'15 Ngõ 1 Phạm Văn Đồng, Mai Dịch, Cầu Giấy, Hà Nội', 1, N'0986102244', N'uim89127@zzrgg.com', N'd7dc91ca-d3ff-4a10-a7ae-3d34e3780c70')
INSERT [dbo].[Faculty] ([Id], [Name]) VALUES (N'a8dea11b-9880-45a6-82a0-013153d79443', N'Khoa Tai mũi họng')
INSERT [dbo].[Faculty] ([Id], [Name]) VALUES (N'4cf6597b-4655-46a9-b372-013d7b0c3c90', N'Khoa Nội Thận - Miễn dịch ghép')
INSERT [dbo].[Faculty] ([Id], [Name]) VALUES (N'7e57d598-b867-4b59-a5a4-02dfca525f35', N'Khoa Y học cổ truyền - Phục hồi chức năng ')
INSERT [dbo].[Item] ([Id], [Name], [Amount], [Description], [CategoryId], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy]) VALUES (N'a7722a12-dcb3-4cae-8f91-82465c28b8f1', N'Khung Tập Đi', 5, N'Khung Tập Đi Tốt', N'0a79281d-1a05-4b3e-80e8-eb64dbe7729c', CAST(N'2020-06-06T20:54:01.843' AS DateTime), N'Quản Trị', CAST(N'2020-06-06T20:54:01.843' AS DateTime), N'Quản Trị')
INSERT [dbo].[Item] ([Id], [Name], [Amount], [Description], [CategoryId], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy]) VALUES (N'039cb852-9f46-41da-b258-951210dbd822', N'Máy thở - 01', 1, N'Đây là máy thở', N'0874d4ae-3866-4697-bd36-9b8e1ffb063a', CAST(N'2020-06-06T20:54:02.030' AS DateTime), N'Quản Trị', CAST(N'2020-06-06T20:54:02.030' AS DateTime), N'Quản Trị')
INSERT [dbo].[Item] ([Id], [Name], [Amount], [Description], [CategoryId], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy]) VALUES (N'039cb852-9f46-41da-b258-951210dbd823', N'Máy thở - 02', 1, N'Đây là máy thở', N'0874d4ae-3866-4697-bd36-9b8e1ffb063a', CAST(N'2020-06-06T20:54:02.037' AS DateTime), N'Quản Trị', CAST(N'2020-06-06T20:54:02.037' AS DateTime), N'Quản Trị')
GO
INSERT [dbo].[MedicalSupplies] ([Id], [Amount], [PatientId], [ItemId], [DateOfHire], [Status]) VALUES (N'c56b2c56-f536-48b9-8c96-60d0863d6b5d', 1, N'c62ec8bc-00b1-4659-a589-9db06d042975', N'0c20c7b7-f917-4a91-85ee-b4bee9f57926', CAST(N'2020-05-19T21:34:00.000' AS DateTime), 1)
INSERT [dbo].[MedicalSupplies] ([Id], [Amount], [PatientId], [ItemId], [DateOfHire], [Status]) VALUES (N'81a632b8-96ea-4540-ae45-6596a2d7a433', 1, N'df283903-46dc-423b-b925-f7c7c2b1996e', N'0c20c7b7-f917-4a91-85ee-b4bee9f57ea7', CAST(N'2020-05-19T21:34:00.000' AS DateTime), 1)
INSERT [dbo].[MedicalSupplies] ([Id], [Amount], [PatientId], [ItemId], [DateOfHire], [Status]) VALUES (N'81a632b8-96ea-4540-ae45-6596a2d7a434', 1, N'c62ec8bc-00b1-4659-a589-9db06d042878', N'2cff6149-c252-40b5-9cbf-b8a196636436', CAST(N'2020-05-20T00:00:00.000' AS DateTime), 1)
INSERT [dbo].[Medicine] ([Id], [Name], [Description]) VALUES (N'c8c44709-bca3-4b0a-b15f-04aac0fdc8ab', N'Zoledronic Acid', N'')
INSERT [dbo].[Medicine] ([Id], [Name], [Description]) VALUES (N'e14f8bab-395a-48fc-b461-094b128dba65', N'Amiodarone', N'')
INSERT [dbo].[Medicine] ([Id], [Name], [Description]) VALUES (N'fe89f310-13f8-43e4-afab-0a48cdb0ee82', N'Azithromycin (Uống)', N'')
GO
INSERT [dbo].[Prescription] ([Id], [DetailPrescriptionId], [DetailRecordId], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy]) VALUES (N'b6e41a49-1c81-4027-8004-78a2c95b24d7', N'9c9e32af-62b5-487f-ab3d-32fe79c95fd4', N'dd07cbf8-7b4b-49eb-9698-493b19faec78', CAST(N'2020-06-06T20:55:58.527' AS DateTime), N'Quản Trị', CAST(N'2020-06-06T20:55:58.527' AS DateTime), N'Quản Trị')
INSERT [dbo].[Prescription] ([Id], [DetailPrescriptionId], [DetailRecordId], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy]) VALUES (N'3be07490-a522-4783-bd97-b2e70b66174b', N'4cb2df75-5d19-477e-b137-2867125271d2', N'dd07cbf8-7b4b-49eb-9698-493b19faec78', CAST(N'2020-06-06T20:55:58.533' AS DateTime), N'Quản Trị', CAST(N'2020-06-06T20:55:58.533' AS DateTime), N'Quản Trị')
INSERT [dbo].[Record] ([Id], [Note], [Result], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy], [DoctorId], [StatusRecord]) VALUES (N'36de632a-eabe-40d5-8a92-002f2c27882e', N'', N'', CAST(N'2020-06-06T18:11:06.157' AS DateTime), N'Quản Trị', CAST(N'2020-06-06T18:11:06.157' AS DateTime), N'Quản Trị', NULL, 0)
INSERT [dbo].[Record] ([Id], [Note], [Result], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy], [DoctorId], [StatusRecord]) VALUES (N'5985067a-f8eb-450e-be43-00412d8e59a5', N'', N'', CAST(N'2020-06-07T17:50:43.670' AS DateTime), N'Quản Trị', CAST(N'2020-06-07T17:50:43.670' AS DateTime), N'Quản Trị', NULL, 0)
INSERT [dbo].[Record] ([Id], [Note], [Result], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy], [DoctorId], [StatusRecord]) VALUES (N'c1b12022-0125-41a9-b17a-009de94ff92c', N'', N'', CAST(N'2020-06-06T21:33:56.350' AS DateTime), N'Quản Trị', CAST(N'2020-06-06T21:33:56.350' AS DateTime), N'Quản Trị', NULL, 0)
ALTER TABLE [dbo].[DetailPrescription] ADD  DEFAULT ('') FOR [Unit]
GO
ALTER TABLE [dbo].[DetailRecord] ADD  CONSTRAINT [DF__DetailRecord__Id__74AE54BC]  DEFAULT ('00000000-0000-0000-0000-000000000000') FOR [Id]
GO
ALTER TABLE [dbo].[DetailRecord] ADD  CONSTRAINT [DF__DetailRec__Proce__778AC167]  DEFAULT ((0)) FOR [Process]
GO
ALTER TABLE [dbo].[DetailRecord] ADD  CONSTRAINT [DF__DetailRec__Docto__1AD3FDA4]  DEFAULT ('00000000-0000-0000-0000-000000000000') FOR [DoctorId]
GO
ALTER TABLE [dbo].[DetailRecord] ADD  CONSTRAINT [DF__DetailRec__Facul__1BC821DD]  DEFAULT ('00000000-0000-0000-0000-000000000000') FOR [FacultyId]
GO
ALTER TABLE [dbo].[Item] ADD  DEFAULT ('1900-01-01T00:00:00.000') FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Item] ADD  DEFAULT ('1900-01-01T00:00:00.000') FOR [ModifiedDate]
GO
ALTER TABLE [dbo].[MedicalSupplies] ADD  DEFAULT ('00000000-0000-0000-0000-000000000000') FOR [ItemId]
GO
ALTER TABLE [dbo].[MedicalSupplies] ADD  DEFAULT ('1900-01-01T00:00:00.000') FOR [DateOfHire]
GO
ALTER TABLE [dbo].[MedicalSupplies] ADD  DEFAULT ((0)) FOR [Status]
GO
ALTER TABLE [dbo].[Prescription] ADD  DEFAULT ('00000000-0000-0000-0000-000000000000') FOR [DetailRecordId]
GO
ALTER TABLE [dbo].[Prescription] ADD  DEFAULT ('1900-01-01T00:00:00.000') FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Prescription] ADD  DEFAULT ('1900-01-01T00:00:00.000') FOR [ModifiedDate]
GO
ALTER TABLE [dbo].[Record] ADD  DEFAULT ('1900-01-01T00:00:00.000') FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Record] ADD  DEFAULT ('1900-01-01T00:00:00.000') FOR [ModifiedDate]
GO
ALTER TABLE [dbo].[Record] ADD  DEFAULT ((0)) FOR [StatusRecord]
GO
ALTER TABLE [dbo].[Account]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Account_dbo.Patient_PatientId] FOREIGN KEY([PatientId])
REFERENCES [dbo].[Patient] ([Id])
GO
ALTER TABLE [dbo].[Account] CHECK CONSTRAINT [FK_dbo.Account_dbo.Patient_PatientId]
GO
ALTER TABLE [dbo].[AttachmentAssigns]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AttachmentAssigns_dbo.Attachments_AttachmentId] FOREIGN KEY([AttachmentId])
REFERENCES [dbo].[Attachments] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AttachmentAssigns] CHECK CONSTRAINT [FK_dbo.AttachmentAssigns_dbo.Attachments_AttachmentId]
GO
ALTER TABLE [dbo].[AttachmentAssigns]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AttachmentAssigns_dbo.DetailRecord_DetailRecordId] FOREIGN KEY([DetailRecordId])
REFERENCES [dbo].[DetailRecord] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AttachmentAssigns] CHECK CONSTRAINT [FK_dbo.AttachmentAssigns_dbo.DetailRecord_DetailRecordId]
GO
ALTER TABLE [dbo].[DetailPrescription]  WITH CHECK ADD  CONSTRAINT [FK_dbo.DetailPrescription_dbo.Medicine_MedicineId] FOREIGN KEY([MedicineId])
REFERENCES [dbo].[Medicine] ([Id])
GO
ALTER TABLE [dbo].[DetailPrescription] CHECK CONSTRAINT [FK_dbo.DetailPrescription_dbo.Medicine_MedicineId]
GO
ALTER TABLE [dbo].[DetailRecord]  WITH CHECK ADD  CONSTRAINT [FK_dbo.DetailRecord_dbo.Faculty_FacultyId] FOREIGN KEY([FacultyId])
REFERENCES [dbo].[Faculty] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DetailRecord] CHECK CONSTRAINT [FK_dbo.DetailRecord_dbo.Faculty_FacultyId]
GO
ALTER TABLE [dbo].[DetailRecord]  WITH CHECK ADD  CONSTRAINT [FK_dbo.DetailRecord_dbo.Record_RecordId] FOREIGN KEY([RecordId])
REFERENCES [dbo].[Record] ([Id])
GO
ALTER TABLE [dbo].[DetailRecord] CHECK CONSTRAINT [FK_dbo.DetailRecord_dbo.Record_RecordId]
GO
ALTER TABLE [dbo].[Doctor]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Doctor_dbo.Faculty_FacultyId] FOREIGN KEY([FacultyId])
REFERENCES [dbo].[Faculty] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Doctor] CHECK CONSTRAINT [FK_dbo.Doctor_dbo.Faculty_FacultyId]
GO
ALTER TABLE [dbo].[Item]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Item_dbo.Category_CategoryId] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Category] ([Id])
GO
ALTER TABLE [dbo].[Item] CHECK CONSTRAINT [FK_dbo.Item_dbo.Category_CategoryId]
GO
ALTER TABLE [dbo].[MedicalSupplies]  WITH CHECK ADD  CONSTRAINT [FK_dbo.MedicalSupplies_dbo.Item_ItemId] FOREIGN KEY([ItemId])
REFERENCES [dbo].[Item] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MedicalSupplies] CHECK CONSTRAINT [FK_dbo.MedicalSupplies_dbo.Item_ItemId]
GO
ALTER TABLE [dbo].[MedicalSupplies]  WITH CHECK ADD  CONSTRAINT [FK_dbo.MedicalSupplies_dbo.Patient_PatientId] FOREIGN KEY([PatientId])
REFERENCES [dbo].[Patient] ([Id])
GO
ALTER TABLE [dbo].[MedicalSupplies] CHECK CONSTRAINT [FK_dbo.MedicalSupplies_dbo.Patient_PatientId]
GO
ALTER TABLE [dbo].[Patient]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Patient_dbo.Record_RecordId] FOREIGN KEY([RecordId])
REFERENCES [dbo].[Record] ([Id])
GO
ALTER TABLE [dbo].[Patient] CHECK CONSTRAINT [FK_dbo.Patient_dbo.Record_RecordId]
GO
ALTER TABLE [dbo].[Prescription]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Prescription_dbo.DetailPrescription_DetailPrescriptionId] FOREIGN KEY([DetailPrescriptionId])
REFERENCES [dbo].[DetailPrescription] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Prescription] CHECK CONSTRAINT [FK_dbo.Prescription_dbo.DetailPrescription_DetailPrescriptionId]
GO
ALTER TABLE [dbo].[Prescription]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Prescription_dbo.DetailRecord_DetailRecordId] FOREIGN KEY([DetailRecordId])
REFERENCES [dbo].[DetailRecord] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Prescription] CHECK CONSTRAINT [FK_dbo.Prescription_dbo.DetailRecord_DetailRecordId]
GO
ALTER TABLE [dbo].[Record]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Record_dbo.Doctor_DoctorId] FOREIGN KEY([DoctorId])
REFERENCES [dbo].[Doctor] ([Id])
GO
ALTER TABLE [dbo].[Record] CHECK CONSTRAINT [FK_dbo.Record_dbo.Doctor_DoctorId]
GO
